<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      throwExceptions="false">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Extensions.AzureEventHub" />
  </extensions>

  <targets async="true">

    <target name="azureEventHub" xsi:type="AzureEventHub" queueLimit="10000" overflowAction="Discard"
          connectionString="${configsetting:item=Logging.AzureEventHub.ConnectionString}"
          eventHubName="${configsetting:item=Logging.AzureEventHub.EventHubName}"
          PartitionKey="${configsetting:item=Logging.AzureEventHub.PartitionKey}">
      <layout type="JsonLayout" inclumacnaimalProperties="false">
        <attribute name="timestamp" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="facility" layout="${configsetting:item=Logging.AzureEventHub.Facility}" />
        <attribute name="env" layout="${configsetting:item=Logging.AzureEventHub.Environment}" />
        <attribute name="source" layout="${configsetting:item=Logging.AzureEventHub.Facility}-${configsetting:item=Logging.AzureEventHub.Environment}" />
        <attribute name="correlation-id " layout="${replace:inner=${activityid:norawvalue=true}:searchFor=-:replaceWith=:whenEmpty=${aspnet-TraceIdentifier}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="level" layout="${level:format=Ordinal}" />
        <attribute name="level-name" layout="${level:format=Name}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString:maxInnerExceptionLevel=10}" includeEmptyValue="false" />
        <attribute name="properties" layout="${all-event-properties:separator= | }" includeEmptyValue="false" />
        <attribute name="machinename" layout="${machinename}" includeEmptyValue="false" />
        <attribute name="hostname" layout="${hostname}" includeEmptyValue="false" />
        <attribute name="ip" layout="${local-ip:cachedSeconds=60}" includeEmptyValue="false" />
        <attribute name="method" layout="${aspnet-request-method}" includeEmptyValue="false" />
        <attribute name="uri" layout="${aspnet-request-url:IncludePort=true:IncludeQueryString=true}" includeEmptyValue="false" />
        <attribute name="request-ip" layout="${aspnet-request-ip}" includeEmptyValue="false" />
        <attribute name="statuscode" layout="${aspnet-response-statuscode}" includeEmptyValue="false" />
        <attribute name="aspnet-TraceIdentifier" layout="${aspnet-TraceIdentifier}" includeEmptyValue="false" />
        <attribute name="aspnet-environment" layout="${aspnet-environment}" includeEmptyValue="false" />
      </layout>
    </target>

    <target name="trace" xsi:type="Trace"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

    <target name="console" xsi:type="ColoredConsole"
        encoding="utf-8"
        detectConsoleAvailable="true">
      <layout type='CompoundLayout'>
        <layout type='SimpleLayout' text="${longdate}" />
        <layout type='SimpleLayout' text="|${level:format=Name:uppercase=true}" />
        <layout type='SimpleLayout' text="|${logger}" />
        <layout type='SimpleLayout' text="|${message}" />
        <layout type='SimpleLayout' text="${onexception:${newline}---> EXCEPTION\:${newline}${exception:format=toString:maxInnerExceptionLevel=10}}" />
      </layout>
    </target>
    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,azureEventHub" />
  </rules>
</nlog>
